* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

header a    {
    color: rgb(255,0,255);
    text-decoration: none;
    font-size: 13px;
}

#timer   {
    display: inline;
    padding: 0;
    font-size: 13px;
}

.start  {
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    padding-top: 5rem;
    text-align: center;
}

.container    {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: baseline;
    padding-top: 5rem;
}

#question   {
    font-weight: bold;
    font-size: 14px;
}

.btn-grid    {
    display: grid;
    margin: 20px 0;
    gap: 6px;

}

.btn {
    background-color: rgb(153,50,204);
    border-radius: 10px;
    padding: 5px 50px;
    color: white;
    outline: none;
    text-align: start;
}

.btn:hover  {
    background: rgb(255,0,255);
    cursor: pointer;
}

#start-btn {
    background-color: rgb(153,50,204);
    border-radius: 10px;
    padding: 5px 50px;
    color: white;
    outline: none;
}

#start-btn:hover {
    background: rgb(255,0,255);
    cursor: pointer;
}

#finished {
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    padding-top: 5rem;
    text-align: center;
}


#submit-btn {
    background-color: rgb(153,50,204);
    border-radius: 10px;
    padding: 5px 50px;
    color: white;
    outline: none;
}

#submit-btn:hover {
    background: rgb(255,0,255);
    cursor: pointer;
}

#feedback {
    color: gray;
    font-size: 20px;
    font-style: italic;
}

.hide   {
    display: none;
}

#high {
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    padding-top: 5rem;
    text-align: center;
}

#goback-btn {
    background-color: rgb(153,50,204);
    border-radius: 10px;
    padding: 5px 50px;
    color: white;
    outline: none;
}
#goback-btn:hover {
    background: rgb(255,0,255);
    cursor: pointer;
}

#clear-btn {
    background-color: rgb(153,50,204);
    border-radius: 10px;
    padding: 5px 50px;
    color: white;
    outline: none;
}
#clear-btn:hover {
    background: rgb(255,0,255);
    cursor: pointer;
}

#high h2 {
    padding-bottom: 20px;
}

#list-names {
    text-align: left;
}